node_modules/
tmp/
android/.gradle/
android/build/
android/app/build/
www/
reports/
*.zip
node_modules/
tmp/
www/
reports/
netlify-deploy-v*/
*.zip
__pycache__/
*.pyc
android/.gradle/
android/build/
android/app/build/